body {
width: 960px;
margin:auto ;
}

h1{
text-align: center;
color: blueviolet;
background-color: black;
border: 4px double red ;
}

h3:nth-child(odd){
    color: salmon;
    background-color: black;
}
h3{
    display: block;
    display: inline;
    margin: 2%;
    border: 3px dashed black;
    
}
span{
    color: brown;

}

footer {
    color: goldenrod;
    background-color: black;
    text-align: center;
}

